@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: pmedium;
  src: url("./assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: pbold;
  src: url("./assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: kmedium;
  src: url("./assets/fonts/K2D-Medium.ttf");
}
.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.inputBg {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  opacity: 0.8;
  transition: opacity 0.2s;
}
.inputBg:hover,
.inputBg:focus {
  opacity: 1;
}

.activeNav {
  @apply bg-gradient-to-br from-mainBlue to-mainPurpleFade;
}

@keyframes fly {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.container {
  width: 90%;
  margin: auto;
}
.fl-wrap:nth-child(2n) {
  flex-basis: 100%;
}
@media screen and (min-width: 1440px) {
  .container {
    width: 2200px;
    max-width: 90%;
    margin: auto;
  }
}
