@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  padding: 100px 50px 100px 350px;
}
@font-face {
  font-family: pmedium;
  src: url("./assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: kmedium;
  src: url("./assets/fonts/K2D-Medium.ttf");
}
