@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: pmedium;
  src: url("./assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: kmedium;
  src: url("./assets/fonts/K2D-Medium.ttf");
}
